

/* 高度默认100% */
html,body,#app,.mui-content{    height: 100%; }

/*  将浏览器的基准字号设置为 62.5%，也就是 10px */
html {
  font-size: 62.5%;
}

/* 为了计算方便。然后在 body 上应用了 font-size: 1.6rem;，将页面字号设置为 16px */
body {
  font-size: 1.6rem; /* =16px */
  overflow-x: hidden;
}

/* 全局字体设置 */
body,.mui-input-row label,::-webkit-input-placeholder{
	  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}


/* 淘宝IOC的默认大小 */
.iconfont{
	font-size:35px;
}

/* 头部 */
.app-header{
	height: 45px;
	width:100%;
	
}

/* 头部标签点击没有颜色变化 */
.mui-bar .mui-icon:active{
	opacity: 1;
}