/* 为了配合转场，必须变为position + z-index */
.container{
	position: relative;height: 100%;width:100%;top: 0;left: 0;z-index: 0;opacity: 1;padding:0px;
}
.container_inner{
	position: absolute;height: 100%;width:100%;top: 0;left: 0;z-index: 10;opacity: 1;
}
.container_inner ._content {
	height:100%;width:100%;
}

.slide-fade-enter-active , .slide-fade-leave-active{
  transition: all .35s ease;
}

.slide-fade-enter,.slide-fade-leave-active {
   opacity: 0
} 


._effect {
    opacity: 1; 
    transition: .35s all ease;
}

._effect--30 {
    transform: translate3d(-30%, 0, 0);

}

._effect--50 {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
}